################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.VisualStudio.Azure.Fabric.MSBuild.1.6.8
